body {
  margin: 0;
  padding: 0;
}

.full {
  background-position: 0;
  background-size: 100%;
  min-height: 100%;
}

.marina {
  background-image: url('img/d.png');
}

.zero {
  visibility: hidden;
}

.marina.anim { 
  background-image: url('img/c.gif');
}